<html>
  <head>
    <title>
      react-d3 Gallery examples
    </title>
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/14354544?v=3&s=300" />
    {{#if mode}}
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    {{/if}}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">React-d3</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/react-d3-basics/gallery.html">Basic Charts</a>
            <a class="mdl-navigation__link" href="/react-d3-basics/brush_gallery.html">Chart With Brush</a>
            <a class="mdl-navigation__link" href="/react-d3-basics/animate.html">Update Chart Data</a>
            <a class="mdl-navigation__link" href="/react-d3-basics/combine.html">Brush Multiple charts at once</a>

            <a class="mdl-navigation__link" href="https://github.com/react-d3/react-d3-basics">Fork Me On Github</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">React-d3</span>
        <nav class="mdl-navigation">
          {{#each charts}}
            <a class="mdl-navigation__link" href="#{{this}}">{{this}}</a>

          {{/each}}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div style="margin: 30px;">
          {{#each charts}}
            <a name="{{this}}"></a>
            <div id="data_{{this}}"></div>
            <hr>
          {{/each}}
        </div>
      </main>
    </div>

    {{#if mode}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    {{/if}}
    {{#each link}}
      <script src="./dist/{{this}}.js"></script>
    {{/each}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67901975-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
